*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.vader {
    width: 50%;
    height: 500px;
    background-color: red;
}   

.zoon{
    background-color: green;
    width: 50%;
    height: 50%;
}   