* {
    margin: 0;
}


.mijnDiv {

    height: 300px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;

}

.blok {
    width: 100%;
    height: 100px;
    background-color: white;
}


@media (min-width:480px) {
    .mijnDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:768px) {
    .mijnDiv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1280px) {
    .mijnDiv {
        grid-template-columns: repeat(6, 1fr);
    }
}